:root {
  --dark-bg: 40, 40, 40;
  --header-bg: 60, 60, 60;
  --btn-bg-v1: 20, 20, 20;
  --btn-bg-v2: 60, 60, 60;
  --select-bg: 35, 35, 35;
  --main-text: 230, 230, 230;
  --simple-text: 200, 200, 200;
  --small-text: 120, 120, 120;
}
